.q {
    background-color: yellow;
    vertical-align: baseline;
    
}
.w {
    background-color: aqua;
    text-align: center;
    font-size: 3em;
}
p {
    text-align: center;
    font-size: 2em;
}
