.h {
    background-color: aqua;
    margin-top: -20px;
    text-align: center;
}
.m {
    display: block;
    background-color:yellow;
    margin-top: -20px;
    float:left;
    width: 150px;
    padding-top: 30px;
    padding-right: 5px;
    
}
.q {
    display:flex;
}
h2 {
    text-align: center;
}
.s {

    display:block;
    margin-left:20px;
    
    
}
.z {
    background-color: aqua;
    text-align: center;
    margin-top: -20px;
    
}
img {
    float:left;
}
